@media screen and (max-width : 880px) {

    html{
        height: -webkit-fill-available;
    }
    
    body{
        visibility: visible;
        overflow-x: hidden;
        /* height: 100vh; */
        -webkit-tap-highlight-color: transparent;
        animation: zoom;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        height: -webkit-fill-available;
        /* display: flex; */
    }

    @keyframes zoom {
        0%{filter: blur(5px);}
        100%{filter: blur(0);}
    }

    .container{
        transition: all 1s ease;
        background-color: #fff;
        min-height: 100vh;
        transform: translateX(0);
        overflow: hidden;
    }

    .info{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        padding: 3vh 5vw;
        /* border: 2px solid green; */
    }

    .info a{
        text-decoration: none;
    }

    .text h1{
        font-size: 30px;
        cursor: pointer;
        color: #333;
    }

    .alarms{
        transition: all 1s ease;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        padding: 5px;
        position: relative;
        cursor: pointer;
    }



    .alarms::before{
        position: absolute;
        top: 0;
        right: 2px;
        content: "";
        width: 12px;
        height: 12px;
        /* background-color: rgb(255, 242, 0); */
        /* border: 1.5px solid rgba(0, 0, 0, 0.2); */
        border-radius: 50%;
        /* scale: 1; */
        opacity: 0;
        animation: alarm;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes alarm {
        0%{opacity: 0;
        scale: 0;}
        /* 50%{scale: 1.15;} */
        100%{opacity: 1;
            background: rgba(255, 0, 0, 0.7);
        scale: 1;}
    }

    .alarms img{
        width: 100%;
    }

    .balances{
        /* border: 2px solid black; */
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
        display: flex;
        overflow-x: scroll;
    }

    .balances::-webkit-scrollbar{
        width: 0;
    }

    .item{
        /* border: 2px solid tomato; */
        border-radius: 20px;
        min-width: 90%;
        height: 190px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;
        /* padding: 30px; */
        padding: 15px 30px;
        background: rgba(90, 63, 213, 0.993);
        color: #fff;
        transition: all 0.7s ease;
        /* scale: 0.9; */
    }
    
    .item:hover{
        /* scale: 1.05; */
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    /* .itemi:hover{
        margin-right:30px;
    } */

    /* .balances.itemii:hover .itemi{
        margin-left: 30px;
    } */

    .itemi{
        margin-right: 15px;
    }
    
    .itemii{
        background: #222;
        min-width: 95%;
    }

    .card-details{
        display: flex;
        align-items: center;
        /* border: 2px solid #fff; */
        position: relative;
        margin-bottom: 55px;
    }

    .mc{
        width: 55px;
        /* height: 20px; */
    }
    
    .visa{
        align-items: center;
        justify-content: center;
        width: 70px;
        display: flex;
        /* border: 2px solid #fff; */
    }
    
    .visa img{
        /* object-fit: cover; */
        height: 20px;
        width: 100%;
    }

    .mc img{
        width: 100%;
    }

    .acct-number{
        margin-left: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .asterisks{
        /* width: 200px; */
        position: relative;
        top: -5px;
        align-items: center;
        justify-content: center;
        /* height: 10px; */
        /* border: 2px solid #fff; */
        display: flex;
    }

    .acct-number span{
        font-size: 16px;
        font-weight: 400;
    }

    .asterisks img{
        width: 6px;
        margin-right: 5px;
    }

    .expiry-date{
        /* border: 2px solid red; */
        position: absolute;
        right: 0;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .expiry-date span{
        /* font-weight: lighter; */
        margin: 0 2px;
        font-size: 20px;
    }


    .bal{
        font-size: 18px;
        color: rgba(230, 230, 230, 1);
        position: relative;
        right: -10px;
        cursor: default;
        /* opacity: 0.7; */
        /* margin-bottom: 30px; */
    }

    .balance{
        margin-top: 0px;
        display: flex;
        justify-content: left;
        align-items: center;
        cursor: default;
    }

    .balance span{
        font-size: 30px;
        font-weight: 500;
        transition: all 1s ease;
    }
    
    .itemii .balance span{
        filter: blur(6px);
        cursor: pointer;
    }
    
    .hidde .balance span{
        filter: blur(0);
    }

    .currency{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;

    }

    .currency img{
        width: 100%;
    }


    .services{
        /* border: 2px solid green; */
        padding: 20px 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contain span{
        font-size: 12px;
        color: #444;
        font-weight: 400;
    }

    .serv:hover{
        filter: invert();
        padding: 10px;
    }

    .services img{
        width: 100%;
    }

    .serv{
        cursor: pointer;
        width: 55px;
        background: #fff;
        /* border: 2px solid black; */
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        transition: all 0.5s ease;
        margin-bottom: 13px;
    }

    .transactions{
        margin-top: 50px;
        /* border: 2px solid black; */
        padding: 20px 5vw 0 5vw;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px -2px 20px rgba(0, 0, 0, 0.15);
        height: 35vh;
        width: 100vw;
        position: fixed;
        /* bottom: -120px; */
        bottom: 0;
        transform: translateY(200px);
        z-index: 1;
        transition: all 0.8s;
        
    }
    
    .pull{
        transform: translateY(0);
        box-shadow: 1px -2px 100px rgba(0, 0, 0, 0.15);
        /* bottom: 0; */
        transition: all 1s;
        /* height: 80vh; */
    }

    .transactions::-webkit-scrollbar{
        width: 0;
    }

    .dragger{
        display: flex;
        width: 60px;
        height: 5.5px;
        position: absolute;
        top: 20px;
        background: #000;
        border-radius: 20px;
        opacity: 0.35;
        margin-bottom: 25px;
        transition: all 1s;
        cursor: pointer;
    }
    
    .pulll{
        width: 80px;
        transition: all 1s;
    }

    .recent{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* border: 2px solid green; */
    }

    .recent span{
        font-weight: 600;
        font-size: 17px;
        cursor: default;
    }

    .search{
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        opacity: 0.8;
        cursor: pointer;

    }

    .search img{
        width: 100%;
    }

    .trans-container{
        margin-top: 20px;
        /* border: 2px solid green; */
        width: 100%;
        max-height: 25vh;
        overflow-y: hidden;
        cursor: default;
    }

    .trans-container::-webkit-scrollbar{
        /* width: px; */
        width: 0;
        /* opacity: 0.4; */
    }

    .pull .trans-container{
        overflow-y: scroll;
    }

    .trans{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .transi .profile{
        width: 50px;
        border-radius: 50%;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
    }
    
    .profile{
        width: 50px;
        cursor: pointer;
        /* height: 50px; */

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 8px;
        /* border: 2px solid black; */
    }

    .transi .profile img{
        padding: 0;
    }

    .profile img{
        width: 100%;
    }

    .transii .profile{
        background: rgba(24, 24, 163, 0.781);
    }
    
    .transv .profile{
        background: rgba(24, 24, 163, 0.781);
    }

    .transiii .profile{
        border: 2px solid gold;
    }

    .transiv .profile{
        background: green;
    }

    .transvi .profile{
        background: #000;
        padding: 3px;
    }

    .transvii .profile{
        background: rgb(5, 177, 245);
    } 

    .transviii .profile{
        background: black;
        padding: 10px;
    }

    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        /* border: 2px solid red; */
        width: 100%;
        padding-left: 20px;
    }

    .details .name{
        font-size: 18px;
        font-weight: bolder;
    }

    .details .more-info{
        color: #999;
    }

    .price{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bolder;
        cursor: pointer;
    }

    .price span{
        margin-right: 5px;
        font-size: 20px;
    }

    .see-more{
        margin: 30px 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .see-more a{
        text-decoration: none;
        color: rgb(76, 0, 255);
        font-weight: 400;
    }

    .balances, .services, .info{
        transition: all 0.8s;
    }


    .brr{
        filter: blur(5px);
        transition: all 1s;
        /* z-index: -1; */
    }

    .brr:hover{
        filter: blur(0);
    }

    
}

@media screen and (max-width: 300px) {
    body{
        display: none;
    }
}