@media screen and (max-width : 880px) {
    body{
        visibility: visible;
        overflow-x: hidden;
        -webkit-tap-highlight-color: transparent;
        /* display: flex; */
    }

    .container{
        transition: all 1s ease;
        background-color: #fff;
        min-height: 100vh;
        transform: translateX(0);
    }

    .run{
        transform: translateX(110%);
    }

    .info{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        padding: 3vh 5vw;
        /* border: 2px solid green; */
    }

    .text h1{
        font-size: 30px;
    }

    .alarms{
        transition: all 1s ease;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        padding: 5px;
        position: relative;
        cursor: pointer;
    }


    .notifications{
        position: fixed;
        width: 100vw;
        min-height: 100vh;
        background-image: linear-gradient(rgba(154, 154, 255, 0.4), rgba(84, 84, 183, 0.515)), url(./icons/wallpaper.png);
        z-index: 0;
        color: #fff;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: black;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .blur{
        /* filter: blur(5px); */
        /* opacity: 0; */
        /* visibility: hidden; */
        overflow-x: hidden;
        overflow-y: hidden;
        animation: unblur;
        animation-timing-function: ease;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes unblur {
        0%{filter: blur(5px);}
        100%{filter: blur(0);}
    }

    .notifications span{
        position: absolute;
        top: 150px;
        text-transform: uppercase;
        left: 30px;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 2px;
    }

    .hamburger{
        width: 50px;
        height: 50px;
        position: fixed;
        top: 20px;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1;
    }
    
    .hamburger:hover{
        background: rgba(0, 0, 0, 0.361);

    }



    .menu{
        border-radius: 10px;
        width: 100%;
        height: 4px;
        background: transparent;
        position: relative;
    }

    .menu::before{
        content: "";
        height: 4px;
        position: absolute;
        width: 80%;
        background: rgba(255, 255, 255, 0.634);
        border-radius: 10px;
        top: 0px;
        transform: rotate(45deg);
    }
    .menu::after{
        content: "";
        height: 4px;
        position: absolute;
        width: 80%;
        background: rgba(255, 255, 255, 0.666);
        border-radius: 10px;
        top: 0px;
        transform: rotate(-45deg);
    }



    .alarms::before{
        position: absolute;
        top: 0;
        right: 2px;
        content: "";
        width: 12px;
        height: 12px;
        /* background-color: rgb(255, 242, 0); */
        /* border: 1.5px solid rgba(0, 0, 0, 0.2); */
        border-radius: 50%;
        /* scale: 1; */
        opacity: 0;
        animation: alarm;
        animation-delay: 5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    @keyframes alarm {
        0%{opacity: 0;
        scale: 0.5;}
        /* 50%{scale: 1.15;} */
        100%{opacity: 1;
            background: rgba(255, 0, 0, 0.7);
        scale: 1;}
    }

    .drop{
        scale: 1.15;
    }

    .alarms img{
        width: 100%;
    }

    .balances{
        /* border: 2px solid black; */
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
        display: flex;
        overflow-x: scroll;
    }

    .balances::-webkit-scrollbar{
        width: 0;
    }

    .item{
        /* border: 2px solid tomato; */
        border-radius: 20px;
        min-width: 90%;
        height: 190px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;
        /* padding: 30px; */
        padding: 15px 30px;
        background: rgba(90, 63, 213, 0.993);
        color: #fff;
        transition: all 0.7s ease;
        /* scale: 0.9; */
    }
    
    .item:hover{
        /* scale: 1.05; */
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    /* .itemi:hover{
        margin-right:30px;
    } */

    /* .balances.itemii:hover .itemi{
        margin-left: 30px;
    } */

    .itemi{
        margin-right: 15px;
    }
    
    .itemii{
        background: #222;
        min-width: 95%;
    }

    .card-details{
        display: flex;
        align-items: center;
        /* border: 2px solid #fff; */
        position: relative;
        margin-bottom: 55px;
    }

    .mc{
        width: 55px;
        /* height: 20px; */
    }
    
    .visa{
        align-items: center;
        justify-content: center;
        width: 70px;
        display: flex;
        /* border: 2px solid #fff; */
    }
    
    .visa img{
        /* object-fit: cover; */
        height: 20px;
        width: 100%;
    }

    .mc img{
        width: 100%;
    }

    .acct-number{
        margin-left: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .asterisks{
        /* width: 200px; */
        position: relative;
        top: -5px;
        align-items: center;
        justify-content: center;
        /* height: 10px; */
        /* border: 2px solid #fff; */
        display: flex;
    }

    .acct-number span{
        font-size: 16px;
        font-weight: 400;
    }

    .asterisks img{
        width: 6px;
        margin-right: 5px;
    }

    .expiry-date{
        /* border: 2px solid red; */
        position: absolute;
        right: 0;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .expiry-date span{
        /* font-weight: lighter; */
        margin: 0 2px;
        font-size: 20px;
    }


    .bal{
        font-size: 18px;
        color: rgba(230, 230, 230, 1);
        position: relative;
        right: -10px;
        /* opacity: 0.7; */
        /* margin-bottom: 30px; */
    }

    .balance{
        margin-top: 0px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .balance span{
        font-size: 30px;
        font-weight: 500;
        transition: all 1s ease;
    }
    
    .itemii .balance span{
        filter: blur(6px);
    }

    .balance:hover span{
        filter: blur(0);
    }

    .currency{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;

    }

    .currency img{
        width: 100%;
    }


    .services{
        /* border: 2px solid green; */
        padding: 20px 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contain span{
        font-size: 12px;
        color: #444;
        font-weight: 400;
    }

    .serv:hover{
        filter: invert();
        padding: 10px;
    }

    .services img{
        width: 100%;
    }

    .serv{
        width: 55px;
        background: #fff;
        /* border: 2px solid black; */
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        transition: all 0.5s ease;
        margin-bottom: 13px;
    }





    
}