@media screen and (max-width : 880px) {
    body{
        visibility: visible;
        /* display: flex; */
    }

    .info{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        padding: 3vh 5vw;
        /* border: 2px solid green; */
    }

    .text h1{
        font-size: 30px;
    }

    .alarms{
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        padding: 5px;
    }

    .alarms img{
        width: 100%;
    }

    .balances{
        /* border: 2px solid black; */
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
        display: flex;
        overflow-x: scroll;
    }

    .balances::-webkit-scrollbar{
        width: 0;
    }

    .item{
        /* border: 2px solid tomato; */
        border-radius: 20px;
        min-width: 90%;
        height: 190px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;
        /* padding: 30px; */
        padding: 15px 30px;
        background: rgba(90, 63, 213, 0.993);
        color: #fff;
        transition: all 0.7s ease;
        /* scale: 0.9; */
    }
    
    .item:hover{
        scale: 1.05;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    /* .itemi:hover{
        margin-right:30px;
    } */

    /* .balances.itemii:hover .itemi{
        margin-left: 30px;
    } */

    .itemi{
        margin-right: 15px;
    }
    
    .itemii{
        background: #222;
        min-width: 95%;
    }

    .card-details{
        display: flex;
        align-items: center;
        /* border: 2px solid #fff; */
        position: relative;
        margin-bottom: 55px;
    }

    .mc{
        width: 55px;
        /* height: 20px; */
    }
    
    .visa{
        align-items: center;
        justify-content: center;
        width: 70px;
        display: flex;
        /* border: 2px solid #fff; */
    }
    
    .visa img{
        /* object-fit: cover; */
        height: 20px;
        width: 100%;
    }

    .mc img{
        width: 100%;
    }

    .acct-number{
        margin-left: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .asterisks{
        /* width: 200px; */
        position: relative;
        top: -5px;
        align-items: center;
        justify-content: center;
        /* height: 10px; */
        /* border: 2px solid #fff; */
        display: flex;
    }

    .acct-number span{
        font-size: 16px;
        font-weight: 400;
    }

    .asterisks img{
        width: 6px;
        margin-right: 5px;
    }

    .expiry-date{
        /* border: 2px solid red; */
        position: absolute;
        right: 0;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .expiry-date span{
        /* font-weight: lighter; */
        margin: 0 2px;
        font-size: 20px;
    }


    .bal{
        font-size: 18px;
        color: rgba(230, 230, 230, 1);
        position: relative;
        right: -10px;
        /* opacity: 0.7; */
        /* margin-bottom: 30px; */
    }

    .balance{
        margin-top: 0px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .balance span{
        font-size: 30px;
        font-weight: 500;
    }

    .currency{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;

    }

    .currency img{
        width: 100%;
    }


    .services{
        /* border: 2px solid green; */
        padding: 20px 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contain span{
        font-size: 12px;
        color: #444;
        font-weight: 400;
    }

    .serv:hover{
        filter: invert();
        padding: 10px;
    }

    .services img{
        width: 100%;
    }

    .serv{
        width: 55px;
        background: #fff;
        /* border: 2px solid black; */
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        transition: all 0.5s ease;
        margin-bottom: 13px;
    }





    
}